$RECYCLE.BIN
.fseventsd
.Trashes
.DS_Store
.vscode
.vs
*.ncb
*.suo
*.sdf
*.opensdf
*.pbxuser
*.perspectivev3
*.user
*.xcworkspacedata
*.VC.db*
*.VC.opendb*
*.ipch
version.properties
xcuserdata
ARTIFACTS
build
out
/vst3sdk
/AudioUnitSDK
/CLAP
/JUCE_ARA
